.table-row-cell:empty {
-fx-background-color: white;
}

.table-row-cell:empty .table-cell {
-fx-border-width: 0px;
}


.search-field {
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-border-color: #DCDDE1;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-padding: 8 15 8 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
    -fx-transition: all 0.3s;
}

.search-field:focused {
    -fx-border-color: #3498DB;
    -fx-background-color: #FBFCFC;
    -fx-effect: dropshadow(three-pass-box, rgba(52, 152, 219, 0.2), 10, 0, 0, 0);
}

.search-field .label {
    -fx-opacity: 0.6;
}

.search-field {
    -fx-background-insets: 0;
}

